.box1{
    display: flex;
    width:200px;
    background-color: rgb(192, 215, 244);
    vertical-align: middle;
}
.box2{
    display: flex;
    width:75px;
    background-color: rgb(243, 176, 217);
    
}

.flexbox {
    display: flex;
    flex-direction: row;
  }

  .flexbox2{
      display: flex;
      flex-direction: row;
  }

  .flexbox-column-Design{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      align-items: center;
  }

  
 .profilePic{
     object-fit: fill;
     width: 60px;
     height: 60px;
     vertical-align: top;
     border-radius: 30px;
     margin-right: 15px;

 }

 .innerFlex{
     width: 200px;
     display: flex;
     flex-direction: column;
 }

 .name{
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3px;
 }

 .animaltype{
margin-bottom: 5px;
font-size: 14px;
 }

 .animaltype, .popularity{
     color: rgb(170, 169, 169);
     margin: none;
     margin-top: 0px;
     font-size: 14px;
 }


 p{
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 #button_follow{
     background-color: rgb(43, 146, 210);
     border: none;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 10px;
     padding-top: 10px;
     border-radius: 4px;
     margin-left: 10px;
     font-weight: bold;
     cursor: pointer;

 }

 .lesson3{
     margin-top: 50px;
     margin-bottom: 50px;
     color: red;
     font-size: 30px;
     margin-left: 100px;
 }

 .flex-nested{
     display: flex;
     flex-direction: row;
     height: 50px;
 }
 
 .column1 {
    background-color: lightpink;
    width: 100px;
  }

 

 .column2{
    width: 200px;
     background-color: lightblue;
 }

 .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .row2-item {
    background-color: black;
    color: white;
  }