input{
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    width: 120px;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
    border-radius: 5px;
    margin-right: 2px;
    display: inline-block;
}

input#email{

    width: 262px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px ;

}

#signUp{

    background-color: rgb(41, 115, 241);
    text-align: center;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom:12px;
    padding-left: 110px;
    padding-right: 110px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;



}