.sidebar{
    display: flex;
    flex-direction: column; 
    background-color:  rgb(250, 250, 249);
    position:fixed;
    column-width: auto;
    top: 70px;
    left:0px;
    bottom: 0px;
    align-items: top;
    padding-right: 20px;
    padding-top:10px;
    justify-content: top;
    align-items: center;
    margin-top: -2px;

}


.sidemenu-row img{
    width: 25px;
}

.home_text{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.sidemenu-row{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-family: Roboto, Arial;
    color: rgb(0, 0, 0);
    font-size: 14px;
    row-gap: 10px;
    width: 200px;
    cursor: pointer;
    padding-left: 25px;
    font-weight: 360;

}

.sidemenu-row:hover{
    background-color: rgb(215, 213, 213);
    font-weight: 400;
}



.sidemenu-secondhalf{
    border-top-style: solid;
    border-top-color: rgb(222, 222, 224);
    border-top-width: 1px;
    
}


    
